<!doctype html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>
<body>
<!-- Pills navs -->
<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Billetera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cambio</a>
          </li>

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button type="button" class="btn btn-success">Inicio Sesion</button>
          <button type="button" class="btn btn-dark">Cerrar Sesion</button>
        </form>
      </div>
    </div>
  </nav>


        <p class="text-center">La forma mas popular del mundo para comprar, vender e intercambiar Criptogramas</p>
        <img src="{@monedas}" class="img-fluid" alt="...">

        <!-- Email input -->
        <div class="row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
              <div class="card-body">
                <h5 class="text-center" class="card-title">Binance Coin (BNB)</h5>
                <p class="text-center" class="card-text-center">BM se lanz6 a  traves de una oferta  inicial de monedas en 2017, 11 dias antes de que el exchange de criptomonedas Bina nee se pusiera en marcha. Originalmente se emiti6 coma u n t:::i ken ERC-20 que se 1ejecutaba en la red de Ethereum, con un"
                  su ministro total lim itado a 200 millones de mon edas y 100 millones de BN B
                  ofrecidos en la ICO.ti precio actual es de $450 cada uno
                  BNB tuvo una baJada del 60% er las u 1t1mas 24 horas!</p>
                <button type="button" class="btn btn-success">Comprar</button>
                <button type="button" class="btn btn-danger">Vender</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="text-center" class="card-title">Cardano (ADA)</h5>
                <p class="text-center" class="card-text" >Cardano es una plataforma de blodcchain de prueba de participaci6n cuyo objet ivo es permitir que los usuarios que sean ""pioneros, innovadores y visionarios"" tra igan consigo un cambio global positive a la red. Este proyedo de c6digo abierto tambien pretende ""redistribuir el poder de las estructuras contables entre los individuos"
                  "marginados"". E l precio actual es de $2.52 cada uno"
                  ADA tuvo una subida del 30% en las ultimas 24 horas!</p>
                <button type="button" class="btn btn-success">Comprar</button>
                <button type="button" class="btn btn-danger">Vender</button>
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
      <form>
        <div class="text-center mb-3">
          <p>Sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>

        <p class="text-center">or:</p>

        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text" id="registerName" class="form-control" />
          <label class="form-label" for="registerName">Name</label>
        </div>

        <!-- Username input -->
        <div class="form-outline mb-4">
          <input type="text" id="registerUsername" class="form-control" />
          <label class="form-label" for="registerUsername">Username</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="registerEmail" class="form-control" />
          <label class="form-label" for="registerEmail">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerPassword" class="form-control" />
          <label class="form-label" for="registerPassword">Password</label>
        </div>

        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerRepeatPassword" class="form-control" />
          <label class="form-label" for="registerRepeatPassword">Repeat password</label>
        </div>

        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                 aria-describedby="registerCheckHelpText" />
          <label class="form-check-label" for="registerCheck">
            I have read and agree to the terms
          </label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
      </form>
    </div>
  </div>
  <!-- Pills content -->
</div>

</body>
</html>